
﻿@charset "UTF-8";



html,body {   height: 100%; margin: 0; padding: 0; }


 

#container {
min-height: 100%; 
position: relative;
margin-left: 40px;

}

 


.index img {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 300px;
}

#index {
	margin: 5px 25px;
	padding: 0;
	float: left;
}



.header li {
	float: left;
	padding: 0px;
	list-style: none;
}

.header li a {
	background: none;
	color: #000000; /* 상위 메뉴 글자 색  */
	display: block;
	font-size: 15px;
	font-weight: nomal;
	line-height: 50px;
	margin: 0px;
	padding: 2px 20px;
	text-align: left;
	text-decoration: none;
}

.header li a:hover, .menubar ul li:hover a {
	background: none;/*  상위-메뉴 마우스 오버시 배경 색  */
	color: #adadad;
	text-decoration: none;
}

.header li ul {
	float: left;
	display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
	height: 15;
	padding: 0px;
	margin: 0px;
	border: 0px;1
	position: ]];
	width: 200px;
	z-index: 1;

}

.header li:hover ul {
	float: left;
	display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.header li li {
	background: none;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 125px; /* 하위 메뉴 가로 길이 */
}

.header li:hover li a {
	background-color: #f1f1f1;
}

.header li ul a {
	display: block;
	height: 50px;
	font-size: 15px;
	font-weight: normal;
	margin: 0px;
	text-align: left;
}

.header li ul a:hover, .header li ul li:hover a {
	/* background: rgb(237, 234, 234);
 */	border: 0px;
	color: #adadad; /* 하위 메뉴 마우스 오버 시 글자 색 */
	text-decoration: none;
}

.header p {
	clear: left;.	width: 100%;
}

.header  {
		width: 100%;
}











/*--------------------------------------*/
.menubar li {
	float: left;
	padding: 0px;
	list-style: none;
}

.menubar li a {
	background: none;
	color: #adadad; /* 상위 메뉴 글자 색  */
	display: block;
	font-size: 30px;
	font-weight: nomal;
	line-height: 50px;
	margin: 15px;
	padding: 11px 25px;
	text-align: left;
	text-decoration: none;
	
}

.menubar li a:hover, .menubar ul li:hover a {
	background: none;/*  상위-메뉴 마우스 오버시 배경 색  */
	color: #000000;
	text-decoration: none;
	
}

.menubar li ul {
	float: left;
	display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
	height: 15;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: relative;
	width: 20px;
	z-index: 1;

}

.menubar li:hover ul {
	float: left;
	display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.menubar li li {
	background: none;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	
}

.menubar li:hover li a {
	background-color: #f1f1f1;
	
}

.menubar li ul a {
	display: block;
	height: 50px;
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	text-align: left;
	
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	/* background: rgb(237, 234, 234);
 */	border: 0px;
	color: #adadad; /* 하위 메뉴 글자 색 */
	text-decoration: none;
	
}

.menubar p {
	clear: left;.	width: 100%;
	
}

.menubar  {
		width: 100%;
}
 
 
.best {
	width: 1300px;
		float: right;
	position: absolute;
	top: 765px;
	
 	border: 1px solid #bcbcbc;
 
 }

.board1 {
	float:left;
	position: absolute;
	top: 125px;
	overflow: hidden;
	width: 500;
	
}
.board1_1 {
	float:left;
	text-align:center;
	position: absolute;
	top: 900px;
	/* left: 30px;
 */	width: 500;
}
.board1_2 {
	float:left;
	position: absolute;
	top: 95px;
	width: 500;
}


 .board1 img{
 	display:block;
 }
 
 .board2 {
 margin-left:400px;
 	position:absolute;
	width:1480px;
text-align: center;
}

 .board2 img{
 	display:block;
 	text-align: center;
 	
 }


@media ( max-width : 480px ) {
	#container {
		width: auto;
	}
	#content {
		float: none;
		width: auto;
	}

}
 
 
 

.banner {
	position: relative;
	width: 1200px;
	height: 600px;
	top: 60px;
	overflow: hidden;
	
	 float: left;
margin-left: 200px; 
text-align: center;

}
 



.line1 {
	position: absolute;
	top: 100px;
	left: 280px;
	margin-bottom: 20;
	float: left;

}

.line2 {
	position: absolute;
	top: 100px;
	left: 535px;
}

.line3 {
	position: absolute;
	top: 100px;
	left: 795px;
	margin-bottom: 20;

}
.line4 {
	position: absolute;
	top: 100px;
	left: 1055px;
	margin-bottom: 20;
}

.line5 {
	position: absolute;
	top: 100px;
	left: 1315px;
	margin-bottom: 20;
}

.line6 {
	position: absolute;
	top: 100px;
	left: 1525px;
	margin-bottom: 20;
}


#footer {
	position: fixed;	
	right: 0;	
	bottom: 0;	
	margin-bottom: 20px;	
	height: 100px;
}

#footer1 {	top:1000px;
 	left: 100px;
 	width:1500px;
	position: absolute;
	bottom: 5000;
	 border-top: 1px solid #adadad;

}


/* 
 #footer1 {

position: absolute;
top: 1200;
width: 100%;
height: 100px;
background-color: silver;
border-top: 1px solid #adadad;

} */

#adminbar{
	float:left;
	text-align: right;
	width:90%;
}
