@charset "UTF-8";


body {
	align: center;
}

#container {
	width: 1480px;
	margin: 10px auto;
	padding: 10px;
}

.index img {
	position: absolute;
	top: 0;
	left: 0;
	width: 250px;
	height: 300px;
}

#index {
	margin: 5px 25px;
	padding: 0;
	float: left;
}

#header {
	width: 1445px;
	height: 20px;
	padding: 10px;
	margin-bottom: 5px;
}

#header a {
	padding: 10px;
	float: right;
	border: 0px;
	color: #000000;
	text-decoration: none;
}

#header a:hover {
	border: 0px;
	color: #adadad;
	text-decoration: none;
}

.menubar li {
	float: left;
	padding: 0px;
	list-style: none;
}

.menubar li a {
	background: none;
	color: #adadad;
	display: block;
	font-size: 30px;
	font-weight: nomal;
	line-height: 50px;
	margin: 15px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
}

.menubar li a:hover, .menubar ul li:hover a {
	/* background: rgb(237, 234, 234); */
	color: #000000;
	text-decoration: none;
}

.menubar li ul {
	float: left;
	background: rgb(255, 255, 255);
	display: none; /* 평상시에는 서브메뉴가 안보이게 하기 */
	height: 15;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 200px;
	z-index: 1;

}

.menubar li:hover ul {
	float: left;
	display: block; /* 마우스 커서 올리면 서브메뉴 보이게 하기 */
}

.menubar li li {
	background: none;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

.menubar li:hover li a {
	background: none;
}

.menubar li ul a {
	display: block;
	height: 50px;
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	text-align: left;
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	/* background: rgb(237, 234, 234); */
	border: 0px;
	color: #adadad;
	text-decoration: none;
}

.menubar p {
	clear: left;
}

.best {
	text-align: center;
	width: 2000px;
	float: left;
	position: absolute;
	top: 830px;
	left: 230px;
}


#board {
	width: 1065px;
	height: 200px;
	padding: 20px;
	margin-top: 600px;
	margin-right: 30px;
	margin-bottom: 20px;
	float: right;
	border: 1px solid #bcbcbc;
	align: center;
}



@media ( max-width : 480px ) {
	#container {
		width: auto;
	}
	#content {
		float: none;
		width: auto;
	}
	#best {
		float: none;
		width: auto;
	}
}

.banner {
	position: absolute;
	width: 1250px;
	height: 680px;
	top: 200px;
	left: 300px;
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;

}

.banner ul {
	position: relative;
	margin: 0px;
	padding: 0;
	list-style: none;
}

.banner ul li {
	float: left;
	width: 1250px;
	height: 680px;
	margin: 0;
	padding: 0;
}

.line1 {
	position: absolute;
	top: 50px;
	left: 100px;
	margin-bottom: 20;
	float: left;

}

.line2 {
	position: absolute;

	top: 130px;
	left: 1260px;
}
.list{
	
	
}
#footer {
	position:absolute;
	clear: both;
	padding: 20px; <!--
	border: 1px solid #bcbcbc;
	-->



}